@font-face {font-family: "arimo"; src: url(font/Arimo-VariableFont_wght.ttf);}
@font-face {font-family: "inter"; src: url(font/Inter-VariableFont_slnt\,wght.ttf);}

main{
    display: flex;
    flex-direction: center;
    background-image: url(img/frontpage_background.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0;
}
.right_grid{

    border-radius: 0% 3% 3% 0%;
    font-family: arimo;
    word-spacing: 0.3rem;
}
.left_grid{
    text-align: center;
    border-radius: 3% 0% 0% 3%;
}

.product_image {
    width: 50%;
    height: auto;
    grid-row: 1/3;
  }
  @media screen and (max-width: 600px) {
.grid{
  background-color: #F7F9F7;
  margin: 50px 35px 50px 35px;
}
.beskrivelse{
  font-size: 0.7em;
}

  }
  @media screen and (min-width: 600px) {
  .grid{
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 700px;
    width: 100%;
    height: 400px;
    margin: 100px auto;
  }
  .left_grid{
    background-color: #fff;
  }
  .right_grid{
    background-color: #F7F9F7;
  }
  .beskrivelse{
    font-size: 90%;
  }
}
.category{
  margin: 20px 0 20px 0;
}
.name{
    font-family: inter;
    font-weight: normal;
    font-size: 1.5em;
    margin: 20px 0 15px 20px
}
.beskrivelse{
margin: 25px 20px 0 25px;

}
  .info {
    text-align: left;
    margin-left: 10px;
  }
  .info dt {
    font-weight: bold;
    margin-left: 15px;
  }
  .info dd{
    margin-left: 15px
  }
  .info dl{
    border-top: 1px #A9A9A9 solid;
    padding-top: 25px;
    margin-top: 30px;
    margin-right: 10px;
  }
  .product_name {
    margin-left: 30px;
    font-size: 2.5rem;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
/*   .sæson{
    max-width: 15ch;
  } */
  select {
    display: block;
    width: 100%;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
  
  button:hover {
    background-color: #45a049;
  }

a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.hide{
    display: none;
}

.funfact{
margin: 20px 0 10px 25px;
font-weight: lighter;
font-size: 1em;
word-spacing: 0.1em;
}
.fact{
margin: 0 0 10px 25px;
font-size: 1.25em;
max-width: 20ch;
}
.advarsel{
font-size: .8em;
margin: 10px 0 20px 15px;
color: red;
}