* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #d9c5ad;
  --h2: #c6c6eb;
  --h3: #f2500b;
  --h2-font: Arimo;
}

body {
  background-color: var(--background-color);
  color: var(--h2);
}

h2 {
  font-family: var(--h2-font);
}

/*burger menu*/

.nav-bar a {
  text-decoration: none;
  color: var(--h3);
  font-weight: bolder;
  text-transform: uppercase;
}

.nav-bar a:active {
  text-decoration: none;
  color: black;
}

.nav-menu {
  display: flex;
  gap: 60px;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--h3);
  z-index: 1000;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.hamburger.active {
  z-index: 1000;
}

.hamburger {
  display: block;
  cursor: pointer;
  margin-left: 80%;
  margin-top: 5%;
  position: relative;
}

.nav-menu {
  position: absolute;
  left: -150%;
  gap: 1%;
  margin-top: -50px;
  margin-left: 0px;
  flex-direction: column;
  background-color: #fdf2e4;
  width: 100%;
  height: 3000px;
  text-align: center;
  transition: 0.3s;
  z-index: -1;
  padding-top: 120px;
}

.nav-menu.active {
  left: 0;
  z-index: 1000;
}

/*stor menu gøres usyndelig*/

.stornav {
  display: none;
}

@media (min-width: 800px) {
  .stornav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 24px;
  }

  .stor-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
  }

  .stor-menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--h3);
    font-family: var(--h2-font);
    font-weight: 700;
  }

  .hamburger {
    display: none;
  }
}
